//==========================================================================
//   VISIBILITY
//==========================================================================

.hidden {
	display: none;
}

.visuallyhidden {
	visibility: none;
	position: absolute;
	top: -1000000px;
	left: -1000000px;
	width: 0px;
	height: 0px;
	display: block;
}

.not-palm {
	@media all and (max-width: $lap-start) {
		display: none;
	}
}

.palm {
	@media all and (min-width: $lap-start) {
		display: none;
	}
}

.not-lap {
	display: none;

	@media all and (min-width: $desk-start) {
		display: block;
	}
}
