//==========================================================================
//   ABOUT
//==========================================================================

.about {
    padding: $spacing; 
    margin: $spacing 0; 
    color: $colour-black;
    font-size: $size-h2; 
    
    p {
        margin: 0;
        
        + p {
            margin-top: $spacing; 
        }
    }
}